{% extends 'quotes/base.html' %}

{% block content %}

    <p>Topics</p>

    <ul>
        {% for topic in topics %}
            <li>
                <a href="{% url 'quotes:topic' topic.id %}">{{ topic.text }}</a> 
                (<a href="{% url 'quotes:delete_topic' topic.id %}">delete the topic</a>)
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'quotes:new_topic' %}">Add a new topic</a>

{% endblock content %}