{% extends 'quotes/base.html' %}

{% block page_header %}
    <h1>Quotes about: {{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'quotes:new_quote' topic.id %}">Add new quote</a>
    </p>

    {% for quote in quotes %}
        <div class="card mb-3">
            <h4 class="card-header">
                <small><a href="{% url 'quotes:edit_quote' quote.id%}">edit</a></small>
                <small><a href="{% url 'quotes:delete_quote' quote.id %}">delete</a></small>
            </h4>
            <div class="card-body">
                {{ quote.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>No quotes have been added yet.</p>
    {% endfor %}
{% endblock content %}
    